################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ORAN_Aging/.vs/ORAN_Aging/FileContentIndex
